<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Bump 3.0.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BF5DC6361D731DA800B8631C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BF5DC64A1D731DA800B8631C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BF5DC6551D731DA800B8631C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
